{% load static %}
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar" >
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
        <i class="bx bx-menu bx-sm"></i>
      </a>
    </div>
  
    <div class="navbar-nav-right d-flex align-items-center w-100" id="navbar-collapse">
      <!-- Search -->
      <div class="navbar-nav align-items-center w-100">
        <div class="nav-item d-flex align-items-center w-100">
          <i class="bx bx-search fs-4 lh-0"></i>
          <form method="GET" action="{% url 'menu:search-certificate' %}" class="flex-grow-1">
            <input
              type="text"
              class="form-control border-0 shadow-none flex-grow-1"
              placeholder="Cari sertifikat dengan ID"
              aria-label="Cari sertifikat dengan ID"
              name="id_sertifikat"
            />
          </form>
        </div>
      </div>
      <!-- /Search -->
  
      <ul class="navbar-nav flex-row align-items-center ms-auto">
        <!-- User Dropdown -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online" style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
                <img 
                    src="{% if foto_profile is not None %} {{foto_profile.foto.url}} {% else %}{% static 'assets/img/avatars/1.png' %}{% endif %}"
                    alt="Profile"
                    class="img-fluid"
                    style="object-fit: cover; width: 100%; height: 100%;"
                />
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="{% url 'user:add-profile' %}">
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar avatar-online" style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
                        <img 
                            src="{% if foto_profile is not None %} {{foto_profile.foto.url}} {% else %}{% static 'assets/img/avatars/1.png' %}{% endif %}"
                            alt="Profile"
                            class="img-fluid"
                            style="object-fit: cover; width: 100%; height: 100%;"
                        />
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <span class="fw-semibold d-block">{{ request.user.full_name }}</span>
                    <small class="text-muted">{{ request.user.role }}</small>
                  </div>
                </div>
              </a>
            </li>
            <li><div class="dropdown-divider"></div></li>
            {% if request.user.role == "admin" %}
            <li>
              <a class="dropdown-item" href="{% url "admin:index" %}">
                <i class="bx bx-cog me-2"></i>
                <span class="align-middle">Administrator</span>
              </a>
            </li>
            {% endif %}   
            <li>
              <a class="dropdown-item" href="{% url 'user:keluar' %}">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Log Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  