{% extends "home_base.html" %}
{% load static %}
{% block title %} Home Page{% endblock title %}

{% block content %}
<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Daftar sekarang untuk memulai yang lebih baik</h2>
                    <p>Capai Suksesmu dengan Bimbingan Belajar Kami! Tutor berpengalaman, metode efektif. Bergabunglah sekarang untuk prestasi gemilang.</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="{% url "menu:pembayaran" %}">Dapatkan sekarang</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static "home/images/slider-dec.png" %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="promo" class="services section">
    {% if diskon_objs %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Lihat promo berikut untukmu</h4>
            <img src="{% static "home/images/heading-line-dec.png" %}" alt="">
            <p>gunakan promo berikut sebelum kedaluwarsa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-12 mb-4">
              <div id="feedbackMessage" class="alert alert-primary text-center w-100" style="display:none; margin: 0;" role="alert">
                  COPIED
              </div>
          </div>
      </div>
  
      <div class="row">
          {% for diskon_obj in diskon_objs %}
          <div class="col-lg-6 mb-4">
              <div class="service-item first-service">
                  <h4>{{diskon_obj.diskon_name}}</h4>
                  <p>Promo berlaku sampai tanggal {{diskon_obj.kedaluwarsa}} dapatkan sekarang dan dapatkan promo hingga {{diskon_obj.persentase_diskon}}%.</p>
                  <button class="btn-code btn rounded">{{diskon_obj.diskon_code}}</button>
              </div>
          </div>
          {% endfor %}
      </div>
      {% endif %}
  </div>
  
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About us</h4>
            <img src="{% static "home/images/heading-line-dec.png" %}" alt="">
            <p>Selamat datang di Bimbingan Belajar Banua, tempat terbaik bagi para pelajar untuk mencapai prestasi akademik gemilang! Kami berdedikasi membantu siswa dari berbagai jenjang pendidikan dalam memahami pelajaran dengan lebih baik melalui metode pengajaran yang inovatif dan efektif. Dengan tim pengajar yang berpengalaman dan profesional, kami menawarkan program belajar yang terstruktur, interaktif, dan mudah dipahami.</p>
          </div>
          
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{% static "home/images/about-right-dec.png" %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="pricing" class="pricing-tables">
    {% if tarif_obj %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="">
          <div class="section-heading">
            <h4>Kami Menawarkan <em>Harga</em> Pendaftaran Terbaik yang Bisa Anda Dapatkan</h4>
            <img src="{% static "home/images/heading-line-dec.png" %}" alt="">
            <p>Di Bimbingan Belajar Banua, kami memahami pentingnya akses pendidikan berkualitas dengan harga yang terjangkau. Itulah mengapa kami menawarkan harga pendaftaran terbaik untuk semua program belajar kami. Dengan berbagai pilihan paket belajar yang fleksibel, siswa dapat memilih program yang sesuai dengan kebutuhan mereka tanpa harus khawatir mengenai biaya.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <span class="price">Rp. {{tarif_obj.harga}}</span>
            <h4>Harga Terjangkau</h4>
            <div class="icon">
              <img src="{% static "home/images/pricing-table-01.png" %}" alt="">
            </div>
            <ul>
              <li>Akses Modul</li>
              <li>Akses Ujian</li>
              <li>Sertifikat</li>
              <li>Akses vidio</li>
            </ul>
            <div class="border-button">
              <a href="{% url "menu:pembayaran" %}">Purchase This Plan Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div> 
{% endblock content %}