{% extends "menu_base.html" %}

{% block title %}ujian | page{% endblock title %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="row justify-content-center">
      <div class="card py-4">
        {% if messages %}
            {% for message in messages %}
            <div id="message" class="container" data-duration="4000">
                <div{% if message.tags %} class="text-center alert alert-{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <i class="fa-sharp fa-solid fa-triangle-exclamation"></i>
                    {% endif %}
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if levelstudy_objs.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in levelstudy_objs.errors.items %}
                        <li>{{ field }}: {{ errors|striptags }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-header">
          <div><h4 class="mb-3">Ujian</h4></div>
          <div>
            <a href="{% url "menu:mapel-ujian" id_levelstudy=id_levelstudy %}" class="btn btn-dark text-white"><i class="tf-icon bx bx-chevron-left"></i>Back</a>
            {% if request.user.role == 'admin' or request.user.role == 'pemateri' %}
            <a href="{% url "menu:tambah-ujian" id_mapel=id_mapel %}" class="text-white btn btn-primary">Tambah Ujian</a>
            {% endif %}
        </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Soal</th>
                      <th>Jawaban 1</th>
                      <th>Jawaban 2</th>
                      <th>Jawaban 3</th>
                      <th>Jawaban 4</th>
                      <th>Jawaban Benar</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for soal_ujian_obj in soal_ujian_objs %}
                    <tr>
                      <td>{{soal_ujian_obj.soal|truncatechars:20}}</td>
                      <td>{{soal_ujian_obj.jawaban_1}}</td>
                      <td>{{soal_ujian_obj.jawaban_2}}</td>
                      <td>{{soal_ujian_obj.jawaban_3}}</td>
                      <td>{{soal_ujian_obj.jawaban_4}}</td>
                      <td>{{soal_ujian_obj.pilih_jawaban_benar}}</td>
                      </td>
                      <td>
                        <a href="{% url "menu:detail-ujian" id_mapel=id_mapel id_soal_ujian=soal_ujian_obj.get_id_safe %}" class="btn btn-info px-3 py-2">Detail</a>
                        <a href="{% url "menu:edit-ujian" id_mapel=id_mapel id_soal_ujian=soal_ujian_obj.get_id_safe %}" class="btn btn-warning px-3 py-2">Edit </a>
                        <a href="{% url "menu:hapus-soal-ujian" id_mapel=id_mapel id_soal_ujian=soal_ujian_obj.get_id_safe %}" class="btn btn-danger px-3 py-2">Hapus </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% include "includes/menu/pagination.html" with queryset=soal_ujian_objs custom_range=custom_range %}
              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

