{% extends "menu_base.html" %}
{% block title %}ujian  {% endblock title %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <!-- Basic Layout & Basic with Icons -->
<div class="row">
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Tambah Ujian Soal</h5>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="{% url "menu:edit-ujian" id_mapel=id_mapel id_soal_ujian=id_soal_ujian %}">
          {% csrf_token %}
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="id_gambar_soal">Gambar Soal</label>
            <div class="col-sm-10">
              {{soal_ujian_forms.gambar_soal}}
              <small class="text-muted">
                {{ soal_ujian_forms.gambar_soal.errors }}
              </small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="id_soal">Soal Ujian</label>
            <div class="col-sm-10">
              {{soal_ujian_forms.soal}}
              <small class="text-muted">{{ soal_ujian_forms.soal.errors }}</small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="id_jawaban_1">Jawaban 1</label>
            <div class="col-sm-10">
              {{soal_ujian_forms.jawaban_1}}
              <small class="text-muted">{{ soal_ujian_forms.jawaban_1.errors }}</small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="id_jawaban_2">Jawaban 2</label>
            <div class="col-sm-10">
              {{soal_ujian_forms.jawaban_2}}
              <small class="text-muted">{{ soal_ujian_forms.jawaban_2.errors }}</small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="id_jawaban_3">Jawaban 3</label>
            <div class="col-sm-10">
              {{soal_ujian_forms.jawaban_3}}
              <small class="text-muted">{{ soal_ujian_forms.jawaban_3.errors }}</small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="id_jawaban_4">Jawaban 4</label>
            <div class="col-sm-10">
              {{soal_ujian_forms.jawaban_4}}
              <small class="text-muted">{{ soal_ujian_forms.jawaban_4.errors }}</small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="id_jawaban_5">Jawaban 5</label>
            <div class="col-sm-10">
              {{soal_ujian_forms.jawaban_5}}
              <small class="text-muted">{{ soal_ujian_forms.jawaban_5.errors }}</small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="id_jawaban_6">Jawaban 6</label>
            <div class="col-sm-10">
              {{soal_ujian_forms.jawaban_6}}
              <small class="text-muted">{{ soal_ujian_forms.jawaban_6.errors }}</small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="id_jawaban_7">Jawaban 7</label>
            <div class="col-sm-10">
              {{soal_ujian_forms.jawaban_7}}
              <small class="text-muted">{{ soal_ujian_forms.jawaban_7.errors }}</small>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="id_pilih_jawaban_benar">Jawaban Benar</label>
            <div class="col-sm-10">
              {{soal_ujian_forms.pilih_jawaban_benar}}
              <small class="text-muted">{{ soal_ujian_forms.pilih_jawaban_benar.errors }}</small>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Edit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
