{% extends "menu_base.html" %}

{% block title %}menu{% endblock title %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="row justify-content-center">
      <div class="card py-4">
        <div class="card-header">
          <div><h4 class="mb-3">Nilai Ujian</h4></div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Mata Pelajaran</th>
                        <th>Nilai</th>
                        <th>Predikat</th>
                        <th>Status</th>
                        <th>=========</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>{{request.user.full_name}}</td>
                        <td>{{mapel}}</td>
                        <td>{{nilai}}</td>
                        <td>{{predikat}}</td>
                        <td><label class="badge bg-{% if status == "lulus" %}success{% else %}danger{% endif %}">{{status}}</label></td>
                        <td>
                        {% if sertifikat_obj %}
                            <a href="{% url "menu:generate-certificate" id_sertifikat=sertifikat_obj.get_id_safe %}"class="badge bg-primary text-decoration-none text-white">Sertifikat</a>
                        {% else %}
                            <a href="{% url "menu:ujian-ulang" id_mapel=id_mapel id_nilai=nilai_obj.get_id_safe %}" class="btn btn-sm btn-danger">
                                Lakukan Ujian Ulang
                            </a>
                        {% endif %}
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}