{% extends "menu_base.html" %}
{% block title %}ujian  {% endblock title %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="row justify-content-center">
        <div>
          <h2 class="text-center">Ujian {{mata_pelajaran}} {{total_soal}} Soal</h2>
        </div>
        {% for soal_ujian_obj in soal_ujian_objs  %}
        <div class="container mt-4">
            <!-- Bagian card -->
            <form method='post' action="{% url "menu:ujian" id_mapel=id_mapel %}">
              {% csrf_token %}
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="card h-100 overflow-hidden shadow-sm">
                  <div class="card-body">
                    {% if soal_ujian_obj.gambar_soal %}
                    <img class="img-fluid" src="{{soal_ujian_obj.gambar_soal.url}}" alt="Card image cap" style="max-height: 250px; object-fit: cover; width: 100%; border-radius: 8px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageModal{{soal_ujian_obj.pk}}">
                    {% endif %}
                    <p class="card-text mt-3 text-start fw-bolder">
                      {{ forloop.counter }}. {{ soal_ujian_obj.soal|safe|striptags }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- Bagian teks jawaban yang berada di bawah card -->
            <div class="row justify-content-center mt-2 mb-5">
              <div class="col-lg-8">
                <div class="p-3 bg-light rounded shadow-sm">
                  <!-- Pilihan Jawaban -->
      
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{soal_ujian_obj.get_id}}"
                    id="gridRadios1_{{ soal_ujian_obj.pk}}" value="jawaban1" required>
                    <label class="form-check-label" for="gridRadios1_{{ soal_ujian_obj.pk}}">{{soal_ujian_obj.jawaban_1|safe}}</label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{soal_ujian_obj.get_id}}"
                      id="gridRadios2_{{ soal_ujian_obj.pk}}" value="jawaban2" required>
                    <label class="form-check-label" for="gridRadios2_{{ soal_ujian_obj.pk}}">{{soal_ujian_obj.jawaban_2|safe}}</label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{soal_ujian_obj.get_id}}"
                    id="gridRadios3_{{ soal_ujian_obj.pk}}" value="jawaban3" required>
                    <label class="form-check-label" for="gridRadios3_{{ soal_ujian_obj.pk}}">{{soal_ujian_obj.jawaban_3|safe}}</label>
                  </div>
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{soal_ujian_obj.get_id}}"
                      id="gridRadios4_{{ soal_ujian_obj.pk}}" value="jawaban4" required>
                    <label class="form-check-label" for="gridRadios4_{{ soal_ujian_obj.pk}}">{{soal_ujian_obj.jawaban_4|safe}}</label>
                  </div>
                  {% if soal_ujian_obj.jawaban_5 %}
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{soal_ujian_obj.get_id}}"
                      id="gridRadios5_{{ soal_ujian_obj.pk}}" value="jawaban5" required>
                    <label class="form-check-label" for="gridRadios5_{{ soal_ujian_obj.pk}}">{{soal_ujian_obj.jawaban_5|safe}}</label>
                  </div>
                  {% endif %}
                  {% if soal_ujian_obj.jawaban_6 %}
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{soal_ujian_obj.get_id}}"
                      id="gridRadios6_{{ soal_ujian_obj.pk}}" value="jawaban6" required>
                    <label class="form-check-label" for="gridRadios6_{{ soal_ujian_obj.pk}}">{{soal_ujian_obj.jawaban_6|safe}}</label>
                  </div>
                  {% endif %}
                  {% if soal_ujian_obj.jawaban_7 %}
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{soal_ujian_obj.get_id}}"
                      id="gridRadios7_{{ soal_ujian_obj.pk }}" value="jawaban7" required>
                    <label class="form-check-label" for="gridRadios7_{{ soal_ujian_obj.pk }}">{{soal_ujian_obj.jawaban_7|safe}}</label>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          
          {% if soal_ujian_obj.gambar_soal %}
            <!-- Modal untuk Preview Gambar -->
            <div class="modal fade" id="imageModal{{soal_ujian_obj.pk}}" tabindex="-1" aria-labelledby="imageModal{{soal_ujian_obj.pk}}Label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" style="max-width: 80%;">

                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="imageModal{{soal_ujian_obj.pk}}Label">Preview Gambar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-center">
                    <img class="img-fluid" src="{{soal_ujian_obj.gambar_soal.url}}" alt="Preview Image" style="max-width: 100%; height: auto;">
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary col-3 my-4">Submit</button>
      </form>
    </div>
  </div>
  <script>
    config.enterMode = CKEDITOR.ENTER_BR;
  </script>
{% endblock content %}