{% extends "menu_base.html" %}

{% block title %}menu{% endblock title %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="row justify-content-center">
      <div class="card py-4">
        {% if messages %}
            {% for message in messages %}
            <div id="message" class="container" data-duration="4000">
                <div{% if message.tags %} class="text-center alert alert-{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <i class="fa-sharp fa-solid fa-triangle-exclamation"></i>
                    {% endif %}
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if levelstudy_objs.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in levelstudy_objs.errors.items %}
                        <li>{{ field }}: {{ errors|striptags }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-header">
          <div><h4 class="mb-3">Mata Pelajaran</h4></div>
          <div>
            <a href="{% url "menu:mapel-modul" id_levelstudy=id_levelstudy %}" class="btn btn-dark text-white"><i class="tf-icon bx bx-chevron-left"></i>Back</a>
            {% if request.user.role == 'admin' or request.user.role == 'pemateri' %}
            <a href="{% url "menu:tambah-modul" id_levelstudy=id_levelstudy id_mapel=id_mapel %}" class="text-white btn btn-primary">Tambah Modul</a>
            {% endif %}
        </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Mata Pealajaran</th>
                      <th>Deskripsi</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for modul_obj in modul_objs %}
                    <tr>
                      <td>{{modul_obj.nama_modul}}</td>
                      <td>{{modul_obj.description|truncatechars_html:100|safe}}</td>
                      </td>
                      <td>
                        <a href="{% url "menu:detail-modul" id_mapel=id_mapel id_modul=modul_obj.get_id_safe %}" class="btn btn-primary px-3 py-2">Lihat Materi</a>
                        {% if request.user.role == 'admin' or request.user.role == 'pemateri' %}
                        <a href="{% url "menu:edit-modul" id_mapel=id_mapel id_modul=modul_obj.get_id_safe %}" class="btn btn-warning px-3 py-2">Edit </a>
                        <a href="{% url "menu:hapus-modul" id_mapel=id_mapel id_modul=modul_obj.get_id_safe %}" class="btn btn-danger px-3 py-2">Hapus </a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% include "includes/menu/pagination.html" with queryset=modul_objs custom_range=custom_range %}
              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}