{% extends "menu_base.html" %}

{% block title %}modul | page{% endblock title %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl-12">
        <h6 class="text-muted">Detail modul</h6>
        <div class="nav-align-top mb-4">
          <ul class="nav nav-pills mb-3" role="tablist">
            <li class="nav-item">
              <a
                href="{% url "menu:daftar-modul" id_levelstudy=id_levelstudy id_mapel=id_mapel %}" 
                class="btn btn-icon btn-dark" style="margin-right:6px;"
              >
              <i class="tf-icon bx bx-chevron-left"></i>
              </a>
            </li>
            <li class="nav-item ">
              <button
                type="button"
                class="nav-link active"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#detailmodul"
                aria-controls="detailmodul"
                aria-selected="true"
              >
                Modul
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#modulePdf"
                aria-controls="modulePdf"
                aria-selected="false"
              >
                pdf
              </button>
            </li>
            {% if modul_obj.vidio %}
            <li class="nav-item">
              <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#moduleVidio"
                aria-controls="moduleVidio"
                aria-selected="false"
              >
                Vidio
              </button>
            </li>
            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="detailmodul" role="tabpanel">
              <h1 class="card-title ">{{ modul_obj.nama_modul }}</h1>
              <p class="card-text" style="text-align:justify;">
                {{ modul_obj.description|safe }}
              </p>
            </div>
            <div class="tab-pane fade" id="modulePdf" role="tabpanel">
              <p>Jika Browser Anda tidak mendukung PDF inline. Silakan <a href="{{ modul_obj.modul.url }}">lihat PDF</a> untuk melihatnya.</p>
              <object data="{{ modul_obj.modul.url }}" type="application/pdf" width="100%" height="600px">
              </object>
            </div>
            {% if modul_obj.vidio %}
            <div class="tab-pane fade" id="moduleVidio" role="tabpanel">
              <p>Jika Browser anda Tidak mendukung <a href="{{ modul_obj.vidio.url }}">lihat Vidio</a> untuk melihatnya.</p>
              <div id="trailer" class="section d-flex justify-content-center">
                <div class="ratio ratio-16x9" style="max-width: 100%;">
                  <video id="videoPlayer" class="embed-responsive-item" controls>
                    <source src="{{modul_obj.vidio.url}}" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

