{% extends "base_menu.html" %}

{% block content_menu %}
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body">
          <h2 class="card-title mb-4">Edit Modul</h2>
          <div id="feedbackMessage" class="text-center mt-3"></div> 
          <form class="forms-sample" method="post" action="{% url 'menu:edit-modul' id_mapel=id_mapel id_modul=id_modul %}" enctype="multipart/form-data" id="upload_form">
            {% csrf_token %}
            <div class="form-group mb-4">
              <label for="nama_modul"><h4>Nama Modul</h4></label>
              {{ modul_forms.nama_modul }}
            </div>
            <div class="form-group mb-4">
              <label for="description"><h4>Description</h4></label>
              {{ modul_forms.description }}
              {{ modul_forms.media }}
            </div>
            <div class="form-group mb-4">
              <label for="modul"><h4>Module File</h4></label>
              <div class="input-group">
                <div class="input-group d-flex flex-column gap-2">
                  {% if modul_forms.modul.value %}
                    <div class="d-flex flex-row align-items-center flex-wrap gap-2">
                      <p class="m-0">Saat Ini:</p>
                      <a href="{{ modul_forms.modul.value.url }}" target="_blank" class="text-decoration-underline">
                        {{ modul_forms.modul.value.name }}
                      </a>
                    </div>
                  {% endif %}
                  <input type="file" name="modul" class="form-control w-100" id="id_modul">
                </div>

              </div>
            </div>

            <div class="form-group mb-4">
              <label for="vidio"><h4>Vidio File</h4></label>
              <div class="input-group d-flex flex-column gap-2">
                {% if modul_forms.vidio.value %}
                  <div class="d-flex flex-row align-items-center flex-wrap gap-2">
                    <p class="m-0">Saat Ini:</p>
                    <a href="{{ modul_forms.vidio.value.url }}" target="_blank" class="text-decoration-underline">
                      {{ modul_forms.vidio.value.name }}
                    </a>
                    <div class="d-flex align-items-center">
                      <input type="checkbox" name="vidio-clear" class="form-check-input mt-0" id="vidio-clear_id">
                      <label class="form-check-label ms-1" for="vidio-clear_id">Hapus</label>
                    </div>
                  </div>
                {% endif %}
                <input type="file" name="vidio" class="form-control w-100" id="id_vidio">
              </div>
            </div>            
            <button type="submit" class="btn btn-primary me-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Progress Bar -->
<div class="modal fade" id="progressModal" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="progressModalLabel">Uploading...</h5>
      </div>
      <div class="modal-body">
        <div class="progress progress-md portfolio-progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div id="progressText" class="text-center mt-2">0%</div>
        <button type="button" class="btn btn-danger mt-3" id="cancelButton">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const uploadForm = document.getElementById('upload_form');
    const inputFile = document.getElementById('{{ modul_forms.modul.id_for_label }}');
    const progressModal = new bootstrap.Modal(document.getElementById('progressModal'));
    const progressBar = document.querySelector('.progress-bar');
    const progressText = document.getElementById('progressText');
    const cancelButton = document.getElementById('cancelButton');
    const feedbackMessage = document.getElementById('feedbackMessage');
    let xhr;

    uploadForm.addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(uploadForm);
        const file = inputFile.files[0];

        if (file != null) {
            progressModal.show();
            feedbackMessage.textContent = '';
            feedbackMessage.classList.remove('text-success', 'text-danger', 'text-warning');
        }

        xhr = new XMLHttpRequest();
        xhr.open('POST', uploadForm.action, true);

        xhr.upload.addEventListener('progress', function(e) {
            if (e.lengthComputable) {
                const percentProgress = (e.loaded / e.total) * 100;
                progressBar.style.width = `${percentProgress}%`;
                progressBar.setAttribute('aria-valuenow', percentProgress);
                progressText.textContent = `${Math.round(percentProgress)}%`; // Update percentage text
            }
        });

        xhr.onload = function() {
         
          if (xhr.status >= 200 && xhr.status < 300) {
              try {
                  const response = JSON.parse(xhr.responseText);
                  
                  if (response.message === "data uploaded") {
                      window.location.href = `/menu/modul/daftar-modul/${response.id_mapel}/`;
                  } else if (response.message === "cant upload") {
                      progressModal.hide(); // Close the modal on "cant upload" error
                      let errorMessage = 'Error: ';
                      if (response.errors) {
                          errorMessage += 'Form errors: ' + JSON.stringify(response.errors);
                      } else {
                          errorMessage += response.message;
                      }
                      feedbackMessage.textContent = errorMessage;
                      feedbackMessage.classList.add('alert', 'alert-danger');
                  } else {
                       // Close the modal on unknown error
                      feedbackMessage.textContent = 'Error: ' + response.message;
                      feedbackMessage.classList.add('alert', 'alert-danger');
                  }
              } catch (error) {
                  progressModal.hide(); // Close the modal on JSON parsing error
                  feedbackMessage.textContent = 'Error: Failed to process server response.';
                  feedbackMessage.classList.add('alert', 'alert-danger');
              }
          } else {
              progressModal.hide(); // Close the modal on upload failure
              feedbackMessage.textContent = 'Error: Upload failed.';
              feedbackMessage.classList.add('text-danger');
          }
      };

        xhr.onerror = function() {
            progressModal.hide(); // Close the modal on network error
            feedbackMessage.textContent = 'Network error: Upload failed.';
            feedbackMessage.classList.add('text-danger');
        };

        xhr.send(formData);
    });

    cancelButton.addEventListener('click', function() {
        if (xhr) {
            xhr.abort(); // Abort the request
        }
        progressModal.hide(); // Hide the modal
        feedbackMessage.textContent = 'Upload canceled.';
        feedbackMessage.classList.add('alert', 'alert-warning');
    });
});
</script>
{% endblock content_menu %}
