{% extends "menu_base.html" %}
{% block title %}modul | page{% endblock title %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-12 order-1">
        <div class="row">
        {% for levelstudy_obj in levelstudy_objs %}
          <div class="col-lg-4 col-md-12 col-12 mb-4 row-2">
            <div class="card">
              <div class="card-body d-flex flex-row align-items-center justify-content-center">
                <div class="">
                  <h3 class="card-title mb-4 text-center">{{levelstudy_obj.level_study}}</h3>
                  <a href="{% url "menu:mapel-modul" id_levelstudy=levelstudy_obj.get_id_safe %}" class="btn btn-primary">kunjungi</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
