{% extends "menu_base.html" %}

{% block title %}Modul Mapel{% endblock title %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <a href="{% url "menu:levelstudy-modul" %}" class="btn btn-dark mb-4"><i class="tf-icon bx bx-chevron-left"></i> Back</a>
    <div class="row">
      <div class="col-lg-12 order-1">
        <div class="row">
        {% for mapel_obj in mapel_objs %}
          <div class="col-lg-4 col-md-12 col-12 mb-4 row-2">
            <div class="card">
              <div class="card-body d-flex flex-row align-items-center justify-content-center">
                <div class="">
                  <h3 class="card-title mb-4 text-center">{{mapel_obj.nama_mapel}}</h3>
                  <a href="{% url "menu:daftar-modul" id_levelstudy=id_levelstudy id_mapel=mapel_obj.get_id_safe %}" class="btn btn-primary">kunjungi</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
