{% load static %}
<script src="{% static "home/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "home/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "home/js/owl-carousel.js" %}"></script>
<script src="{% static "home/js/animation.js" %}"></script>
<script src="{% static "home/js/imagesloaded.js" %}"></script>
<script src="{% static "home/js/popup.js" %}"></script>
<script src="{% static "home/js/custom.js" %}"></script>
<script src="{% static "home/js/internal.js" %}"></script>