{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="{% static "home/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
{% comment %} <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> {% endcomment %}
<link rel="stylesheet" href="{% static "assets/vendor/fonts/fontawesome/all.css" %}"crossorigin="anonymous">
<link rel="stylesheet" href="{% static "home/css/templatemo-chain-app-dev.css" %}">
<link rel="stylesheet" href="{% static "home/css/animated.css" %}">
<link rel="stylesheet" href="{% static "home/css/owl.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/fonts/boxicons.css" %}" />
<style>
    .review-container {
        scrollbar-width: thin;
        scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
      }
      
      .review-container::-webkit-scrollbar {
        width: 6px;
      }
      
      .review-container::-webkit-scrollbar-track {
        background: transparent;
      }
      
      .review-container::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 20px;
        border: transparent;
      }
      
      .card {
        transition: all 0.3s ease;
      }
      
      .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      }
      
      @media (max-width: 768px) {
        .card {
          max-height: 450px !important;
        }
        
        .review-container {
          max-height: 150px !important;
        }
      }
      
      @media (max-width: 576px) {
        .card {
          max-height: 400px !important;
        }
        
        .review-container {
          max-height: 120px !important;
        }
      }
</style>