{% extends "menu_base.html" %}
{% load static %}

{% block title %}account settings{% endblock title %}
{% block content %}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Account</h4>
  <div class="row">
    <div class="col-md-12">
      {% include "includes/menu/auth/navigasi_account.html" %}
      <div class="card mb-4">
        <h5 class="card-header">Profile Details</h5>
        <!-- Account -->
        {% if messages %}
          {% for message in messages %}
          <div id="message" class="container" data-duration="8000">
              <div{% if message.tags %} class="text-center alert alert-{{ message.tags }}"{% endif %}>
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                  <i class="fa-sharp fa-solid fa-triangle-exclamation"></i>
                  {% endif %}
                  {{ message }}
              </div>
          </div>
          {% endfor %}
        {% endif %}
        <hr class="my-0" />
        <div class="card-body">
          <form id="formAccountSettings" method="POST" action="{% url "user:add-profile" %}" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="id_nama_lengkap" class="form-label">Nama Lengkap</label>
                {{ forms.nama_lengkap }}
              </div>
              <div class="mb-3 col-md-6">
                <label for="id_foto" class="form-label">Foto</label>
                {{ forms.foto }}
              </div>
              <div class="mb-3 col-md-6">
                <label for="id_jenis_kelamin" class="form-label">Jenis Kelamin</label>
              {{ forms.jenis_kelamin }}
              </div>
              <div class="mb-3 col-md-6">
                <label for="id_tempat_tinggal" class="form-label">Tempat Tinggal</label>
              {{ forms.tempat_tinggal }}
              </div>
              <div class="mb-3 col-md-6">
                <label for="id_nomor_telepon" class="form-label">No telepon</label>
              {{ forms.nomor_telepon }}
              </div>
              <div class="mb-3 col-md-6">
                <label for="id_tanggal_lahir" class="form-label">Tanggal Lahir</label>
              {{ forms.tanggal_lahir }}
              </div>
            <div class="mt-2">
              <button type="submit" class="btn btn-primary me-2">Save changes</button>
              <button type="reset" class="btn btn-outline-secondary">Reset Form</button>
            </div>
          </form>
        </div>
        <!-- /Account -->
      </div>
    </div>
  </div>
</div>
<!-- / Content -->
{% endblock content %}