{% extends "auth_base.html" %}
{% block title %}daftar  {% endblock title %}
{% block title_form %}
{% if request.GET.command != 'verification' %}
Daftar
{% endif %}
{% endblock title_form %}

{% block form %}
{% if request.GET.command == 'verification' %}
<div class="alert" role="alert">
    <p>
        Trimakasih telah mendaftar. verifikasi telah dikirim melalui email [{{request.GET.email}}] Mungkin saja email yang dikirim berada di spam pada email anda Masuk? <a href="{% url 'user:masuk' %}">Login</a>
    </p>
</div>
{% else %}
<form id="formAuthentication" class="mb-3" action="{% url "user:daftar" %}" method="POST">
  {% csrf_token %}
    <div class="mb-3">
      <label for="full_name" class="form-label">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="full_name"
        name="full_name"
        placeholder="Enter your full name"
        autofocus
        required
      />
    </div>
   
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter your email"
        autofocus
        required
      />
    </div>
   
    <div class="mb-3 form-password-toggle">
      <label class="form-label" for="password1">Password</label>
      <div class="input-group input-group-merge">
        <input
          type="password"
          id="password1"
          class="form-control"
          name="password1"
          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
          aria-describedby="password"
          required
        />
        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
      </div>
    </div>

    <div class="mb-3 form-password-toggle">
      <label class="form-label" for="password2">Password Confirmation</label>
      <div class="input-group input-group-merge">
        <input
          type="password"
          id="password2"
          class="form-control"
          name="password2"
          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
          aria-describedby="password"
          required
        />
        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
      </div>
    </div>
    <button class="btn btn-primary d-grid w-100">Daftar</button>
  </form>
  <p class="text-center">
    <span>Sudah punya akun?</span>
    <a href="{% url "user:masuk" %}">
      <span>Masuk</span>
    </a>
  </p>
<div class="d-flex w-100 justify-content-center">
  {% include "includes/auth/error_message.html" %}
</div>

{% endif %}
{% endblock form %}