{% extends "auth_base.html" %}
{% block title %}{% endblock title %}
{% block title_form %}
{% if request.GET.command != 'verification' %}
Lupa Password
{% endif %}
{% endblock title_form %}

{% block form %}
{% if request.GET.command == 'verification' %}
<div class="alert" role="alert">
    <p>
        Trimakasih telah mendaftar. verifikasi telah dikirim melalui email [{{request.GET.email}}] Mungkin saja email yang dikirim berada di spam pada email anda Masuk? <a href="{% url 'user:masuk' %}">Login</a>
    </p>
</div>
{% else %}
<form id="formAuthentication" class="mb-3" action="{% url "user:lupapassword" %}" method="POST">
  {% csrf_token %}
  
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter your email "
      autofocus
      required
    />
  </div>
  <div class="mb-3">
    <button class="btn btn-primary d-grid w-100" type="submit">Submit</button>
  </div>
</form>
<div class="text-center">
    <a href="{% url "user:masuk" %}" class="d-flex align-items-center justify-content-center">
      <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
      Back to login
    </a>
  </div>
<div class="d-flex w-100 justify-content-center">
  {% include "includes/auth/error_message.html" %}
</div>

{% endif %}
{% endblock form %}