{% extends "menu_base.html" %}

{% block title %}mapel  {% endblock title %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="row justify-content-center">
      <div class="card py-4">
        {% if messages %}
            {% for message in messages %}
            <div id="message" class="container" data-duration="4000">
                <div{% if message.tags %} class="text-center alert alert-{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <i class="fa-sharp fa-solid fa-triangle-exclamation"></i>
                    {% endif %}
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if levelstudy_objs.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in levelstudy_objs.errors.items %}
                        <li>{{ field }}: {{ errors|striptags }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-header">
          <div><h4 class="mb-3">Mata Pelajaran</h4></div>
          <div>
            <a href="{% url "menu:mapel-levelstudy" %}" class="btn btn-dark text-white"><i class="tf-icon bx bx-chevron-left"></i>Back</a>
            <a href="{% url "menu:tambah-mapel" id_levelstudy=id_levelstudy %}" class="text-white btn btn-primary">Tambah Mata Pelajaran</a>
          </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Mata Pealajaran</th>
                      <th>Deskripsi</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for mapel_obj in mapel_objs  %}
                    <tr>
                      <td>{{mapel_obj.nama_mapel}}</td>
                      <td>{{mapel_obj.description|truncatechars:15}}</td>
                      </td>
                      <td>
                        <a href="{% url "menu:hapus-mapel" id_levelstudy=mapel_obj.level_study.get_id_safe id_mapel=mapel_obj.get_id_safe %}" class="btn btn-danger">delete</a>
                        <a href="{% url "menu:edit-mapel" mapel_obj.level_study.get_id_safe mapel_obj.get_id_safe %}" class="btn btn-primary">Edit mata Pelajaran</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                {% include "includes/menu/pagination.html" with queryset=mapel_objs custom_range=custom_range %}

              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}