@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,35px) repeat(10,0.5fr);
    min-height: 100dvh;
    gap: 10px;
}
header{
    padding: 20px 0;
    grid-column: 1/13;
    grid-row: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px ;
    flex-flow: row wrap;
}

header .logo{
    font-size: 1.5rem;
    font-weight: bold;
}
header .logo >a{
    text-decoration: none;
    color: black;
}
header .navbar a{
   margin: 0 20px;
   text-decoration: none;
   color: black;
}

header .navbar .daftar{
    background-color: rgba(131, 131, 131, 0);
    border: 2px solid black;
    padding: 5px 30px;
    box-sizing: border-box;
    border-radius: 10px;
}
header .navbar .daftar:hover{
   background-color: black;
   color: white;
}

aside{
    grid-column:1/4 ;
    grid-row: 3/10;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 4px;
    padding:0 20px;
}
.active{
    background-color: black;
    color: white;
}
aside p{
    text-align: justify;
}
aside > a{
    background-color: rgba(131, 131, 131, 0);
    border: 2px solid black;
    padding: 5px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
aside > a:hover{
    background-color: black;
    color: white;
}
main{
    grid-row: 3/10;
    grid-column: 4/13;
    padding: 0 20px;
    display: flex;
}

main > .card__container{
    flex: 1;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    place-content: center;
}
.card{
    box-sizing: border-box;
    padding: 60px;
    max-height: 40vh;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    gap: 6px;
}

main>.card__container >.card> .bank>{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
main>.card__container >.card>.bank> p{
    margin-bottom: 10px;
}

main>.card__container >.card> .bank> .cek{
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}
main>.card__container >.card>.bank .cek:hover{
    background-color: black;
    color: white;
}

main>.card__container >.card> .bank> .batalkan{
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 2px solid #dc2626;
    border-radius: 10px;
}

main>.card__container >.card>.bank .batalkan:hover{
    background-color: #991b1b;
    color: white;
    border: 2px solid #991b1b;
}

main>.card__container >.card> .bank> .reset_pesanan{
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 2px solid #2563eb;
    border-radius: 10px;
    display: block;
}

main>.card__container >.card>.bank .reset_pesanan:hover{
    background-color: #1e40af;
    color: white;
    border: 2px solid #1e40af;
}
footer{
    grid-row: 10/13;
    grid-column: 1/13;
    background-color: #0f172a;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    justify-content: center;
    gap: 15px;
}
footer > div i{
    font-size: 1.5rem;
    color: white;
}
footer div:nth-child(1){
    margin: 0 25px;
    text-align:center;
}
footer div:nth-child(2){
    margin: 0 25px;
    text-align:center;

}
footer div:nth-child(3){
    margin: 0 25px;
    text-align:center;

}

@media only screen and (max-width: 647px) {
    .container{
        gap: 20px;
    grid-template-rows: repeat(2,35px) repeat(5,0.5fr);

    }
    header{
        padding: 0 10px;
        grid-column:1/13;
        grid-row: 1/3;
        margin-top: 10px;
    }
    header .navbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    header .navbar a{
        margin: 5px;
    }
    aside{
        grid-column: 1/13;
        grid-row: 3/4;
    }
    main{
        grid-column: 1/13;
        grid-row: 4/5;
        display: flex;
    
    }
    .bank{
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }
    .card{
        padding: 0;
        box-shadow: none;
    }
    footer{
        grid-column: 1/13;
        grid-row: 5/8;
        display: flex;
        flex-flow: column wrap;

    }

  }