{% extends "menu_base.html" %}

{% block title %}pembayaran | page{% endblock title %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="row justify-content-center">
      <div class="card py-4">
        {% if messages %}
            {% for message in messages %}
            <div id="message" class="container" data-duration="4000">
                <div{% if message.tags %} class="text-center alert alert-{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <i class="fa-sharp fa-solid fa-triangle-exclamation"></i>
                    {% endif %}
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if tarif_form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in tarif_form.errors.items %}
                        <li>{{ field }}: {{ errors|striptags }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-header">
            <div><h4 class="mb-3">Diskon Pembayaran</h4></div>
            <div>
              <a href="{% url "menu:tarif" %}" class="btn btn-dark text-white"><i class="tf-icon bx bx-chevron-left"></i>Back</a>
              <button class="btn btn-primary" 
              data-bs-toggle="modal"
              data-bs-target="#modalAddDiskon">add diskon</button>
            </div>
        </div>
        <div class="modal fade" id="modalAddDiskon" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalAddDiskonTitle">Add Diskon</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form method="POST" action="{% url "menu:add-diskon" id_tarif=id_tarif %}">
                {% csrf_token %}
              <div class="modal-body">
                <div class="row">
                  <div class="col mb-2">
                    <label for="id_diskon_name" class="form-label">Nama Diskon</label>
                    {{diskon_form.diskon_name}}
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-2">
                    <label for="id_diskon_code" class="form-label">Kode Diskon</label>
                    {{diskon_form.diskon_code}}
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-2">
                    <label for="id_is_publish" class="form-label">Is Publish</label> <br>
                    {{diskon_form.is_publish}}
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-2">
                    <label for="id_persentase_diskon" class="form-label">Presentase Diskon</label>
                    {{diskon_form.persentase_diskon}}
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-2">
                    <label for="id_kedaluwarsa" class="form-label">Kedaluwarsa</label>
                    {{diskon_form.kedaluwarsa}}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Tambah Diskon</button>
              </div>
            </form>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>nama diskon</th>
                      <th>kode diskon</th>
                      <th>is publish</th>
                      <th>Presentase Diskon</th>
                      <th>Kedaluwarsa</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for diskon_obj in diskon_objs %}
                    <tr>
                      <td>{{diskon_obj.diskon_name}}</td>
                      <td>{{diskon_obj.diskon_code}}</td>
                      <td><input class="form-check-input" type="checkbox" id="disabledCheck2" disabled="" {% if diskon_obj.is_publish == True %}checked=""{% endif %}></td>
                      <td>{{diskon_obj.persentase_diskon}}</td>
                      <td>{{diskon_obj.kedaluwarsa}}</td>
                      <td>
                       <button
                       type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#modalEditDiskon{{ forloop.counter }}"
                       >edit</button>
                       <a href="{% url "menu:delete-diskon" id_tarif=id_tarif id_diskon=diskon_obj.get_id_safe %}" class="btn btn-danger">delete</a>
                      </td>
                    </tr>
                    <div class="modal fade" id="modalEditDiskon{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalEditDiskon{{ forloop.counter }}Title">Edit Tarif</h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <form method="POST" action="{% url "menu:edit-diskon" id_tarif=id_tarif id_diskon=diskon_obj.pk %}">
                            {% csrf_token %}
                          <div class="modal-body">
                            <div class="row">
                              <div class="col mb-2">
                                <label for="id_diskon_name" class="form-label">Nama Diskon</label>
                                <input id="id_diskon_name" type="text" value="{{diskon_obj.diskon_name}}" class="form-control" name="diskon_name" reqired>
                              </div>
                            </div>
                            <div class="row g-2">
                              <div class="col mb-2">
                                <label for="id_diskon_code" class="form-label">Kode Diskon</label>
                                <input id="id_diskon_code" type="text" value="{{diskon_obj.diskon_code}}" class="form-control" name="diskon_code" reqired>
                              </div>
                            </div>
                            <div class="row g-2">
                              <div class="col mb-2">
                                <label for="id_is_publish" class="form-label">Is Publish</label> <br>
                                <input id="id_is_publish" class="form-check-input" name="is_publish" type="checkbox"  {% if diskon_obj.is_publish == True %}checked=""{% endif %}>
                              </div>
                            </div>
                            <div class="row g-2">
                              <div class="col mb-2">
                                <label for="id_persentase_diskon" class="form-label">Presentase Diskon</label>
                                <input id="id_persentase_diskon" type="number" value="{{diskon_obj.persentase_diskon}}" class="form-control" name="persentase_diskon" reqired>
                              </div>
                            </div>
                            <div class="row g-2">
                              <div class="col mb-2">
                                <label for="id_kedaluwarsa" class="form-label">Kedaluwarsa</label>
                                <input id="id_kedaluwarsa" type="date" value="{{ diskon_obj.kedaluwarsa|date:'Y-m-d' }}" class="form-control" name="kedaluwarsa" reqired>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                              Close
                            </button>
                            <button type="submit" class="btn btn-primary">Edit Tarif</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </tbody>
                </table>
                {% include "includes/menu/pagination.html" with queryset=diskon_objs custom_range=custom_range %}
              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}