{% extends "menu_base.html" %}
{% load static %}
{% block title %}invoice | page{% endblock title %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row justify-content-center">
        <!-- Invoice -->
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mb-6">
            <div class="card invoice-preview-card p-4 p-md-5 p-lg-6">
                <div class="card-body invoice-preview-header rounded">
                    <div class="d-flex justify-content-between flex-lg-row flex-md-column flex-sm-column flex-column align-items-lg-center align-items-md-start align-items-sm-center align-items-start">
                        <div class="mb-lg-0 mb-4 text-heading">
                            <div class="d-flex svg-illustration mb-3 gap-2 align-items-center">
                                <span class="app-brand-text demo fw-bold ms-50 lh-1">Bimbel Banua</span>
                            </div>
                        </div>
                        <div>
                            <h5 class="mb-0">Invoice #{{ id_transaksi }}</h5>
                        </div>
                    </div>
                </div>
                <div id="trans-data" style="display:none;" data-id="{{ id_transaksi }}"></div>
                <div id="trans-status" style="display:none;" data-status="{{ status_transaksi }}"></div>
                <div class="table-responsive border border-bottom-0 border-top-0 rounded">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>Bank</th>
                                <th>No Virtual</th>
                                <th>Bayar Sebelum</th>
                                <th>Status</th>
                                <th>Total Harga</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-nowrap text-heading">{{ bank|upper }}</td>
                                <td>{{ vn }}</td>
                                <td id="expirytime">{{ expiry_time }}</td>
                                <td id="status_transaksi">{{ status_transaksi }}</td>
                                <td class="text-nowrap">Rp. {{ harga }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card mt-3">
                        <div class="card-body">
                            {% if status_transaksi == "Belum Dibayar" %}
                                <a id="btn_status" class="btn btn-info btn-sm" href="{% url 'menu:batalkan_pesanan' id_transaksi=id_transaksi %}">Batalkan Pembayaran</a>
                                <a id="btn_status_invoice" class="btn btn-dark btn-sm" href="{% url 'menu:laporan-invoice' %}">Cetak Invoice</a>
                            {% elif status_transaksi == "Pembayaran Melebihi Batas Waktu" %}
                                <a id="btn_status" class="btn btn-info btn-sm" href="{% url 'menu:batalkan_pesanan' id_transaksi=id_transaksi %}">Lakukan Pembayaran Lagi</a>
                            {% elif status_transaksi == "Telah Dibayar" %}
                                <a id="btn_status" class="btn btn-dark btn-sm" href="{% url 'menu:laporan-invoice' %}">Cetak Invoice</a>
                            {% endif %}
                            <div class="text-muted mt-3">
                                Invoice ini sah diterbitkan langsung oleh pihak Bimbingan Belajar Banua.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Invoice -->
    </div>
</div>
{% if status_transaksi == "Belum Dibayar" %}
<script src="{% static 'pembayaran/js/livepayment.js' %}"></script>
{% endif %}
{% endblock content %}
