{% extends "menu_base.html" %}

{% block title %}pembayaran  {% endblock title %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="row justify-content-center">
      <div class="card">
        <h5 class="card-header">Transaksi User</h5>
        <div class="d-flex flex-column gap-2 col-lg-6">
          
          <form method="get" class="d-flex align-items-center gap-2">
              <input style="border-radius: 4px;" type="text" name="cari_transaksi" value="{{ request.GET.cari_transaksi }}" class="form-control text-black" placeholder="cari pembayaran">
              <button type="submit" class="btn btn-primary px-4">go</button>
          </form>
      </div>
      
        
        <div class="table-responsive text-nowrap">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>User Email</th>
                <th>Id Transaksi</th>
                <th>Va Number</th>
                <th>Tarif</th>
                <th>Layanan Pembayaran</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for transaksi_obj in transaksi_objs %}
                  <tr>
                    <td>{{transaksi_obj.user}}</td>
                    <td>{{transaksi_obj.id_transaksi}}</td>
                    <td>{{transaksi_obj.va_number}}</td>
                    <td>{{transaksi_obj.tarif.harga}}</td>
                    <td>{{transaksi_obj.layanan_pembayaran}}</td>
                    {% if transaksi_obj.transaksi_status == 'settlement' %}
                    <td><label class="badge bg-primary">Telah Dibayar</label></td>
                    {% elif transaksi_obj.transaksi_status == 'pending' %}
                    <td><label class="badge bg-danger">Belum Dibayar</label></td>
                    {% elif transaksi_obj.transaksi_status == 'expire' %}
                    <td><label class="badge bg-danger">Pembayaran Melebihi Batas Waktu</label></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}