{% extends "menu_base.html" %}
{% block title %}pembayaran  {% endblock title %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="row justify-content-center">
      <div class="card py-4">
        {% if messages %}
            {% for message in messages %}
            <div id="message" class="container" data-duration="4000">
                <div{% if message.tags %} class="text-center alert alert-{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <i class="fa-sharp fa-solid fa-triangle-exclamation"></i>
                    {% endif %}
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if tarif_form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in tarif_form.errors.items %}
                        <li>{{ field }}: {{ errors|striptags }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-header">
          <div>
            <h4 class="mb-3">Tarif Pembayaran</h4>
          </div>
          <div>
            <a href="{% url "menu:pembayaran" %}" class="btn btn-dark text-white"><i class="tf-icon bx bx-chevron-left"></i>Back</a>
            <button class="btn btn-primary" 
            data-bs-toggle="modal"
            data-bs-target="#modalAddTarif">add tarif</button>
          </div>
        </div>   
        <div class="modal fade" id="modalAddTarif" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalAddTarifTitle">Add Tarif</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form method="POST" action="{% url "menu:add-tarif"%}">
                {% csrf_token %}
              <div class="modal-body">
                <div class="row">
                  <div class="col mb-3">
                    <label for="id_subject" class="form-label">Subject</label>
                    {{tarif_form.subject}}
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-0">
                    <label for="id_harga" class="form-label">Harga</label>
                    {{tarif_form.harga}}
                  </div>
                </div>
                <div class="row">
                  <div class="col mb-3">
                    <label for="id_is_used" class="form-label">Is Used</label> <br>
                    {{tarif_form.is_used}}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Tambah Tarif</button>
              </div>
            </form>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Subject</th>
                      <th>Harga</th>
                      <th>Is Used</th>
                      <th>Action</th>
                      <th>Diskon</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for tarif_obj in tarif_objs %}
                    <tr>
                      <td>{{tarif_obj.subject}}</td>
                      <td>{{tarif_obj.harga}}</td>
                      <td><input class="form-check-input" type="checkbox" id="disabledCheck2" disabled="" {% if tarif_obj.is_used == True %}checked=""{% endif %}></td>
                      <td>
                       <button
                       type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#modalEditTarif{{ forloop.counter }}"
                       >edit  </button>
                       <a href="{% url "menu:delete-tarif" id_tarif=tarif_obj.get_id_safe %}" class="btn btn-danger">delete</a>
                      </td>
                      <td><a href="{% url "menu:diskon" id_tarif=tarif_obj.get_id_safe %}" class="btn btn-primary">Lihat diskon</a></td>
                    </tr>
                    <div class="modal fade" id="modalEditTarif{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalEditTarif{{ forloop.counter }}Title">Edit Tarif</h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <form method="POST" action="{% url "menu:edit-tarif" id_tarif=tarif_obj.get_id_safe %}">
                            {% csrf_token %}
                          <div class="modal-body">
                            <div class="row">
                              <div class="col mb-3">
                                <label for="id_subject" class="form-label">Subject</label>
                                <input id="id_subject" value="{{tarif_obj.subject}}" class="form-control" name="subject" reqired>
                              </div>
                            </div>
                            <div class="row g-2">
                              <div class="col mb-0">
                                <label for="id_harga" class="form-label">Harga</label>
                                <input id="id_harga" value="{{tarif_obj.harga}}" class="form-control" name="harga" reqired>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <label for="id_is_used" class="form-label">Is Used</label> <br>
                                <input class="form-check-input" type="checkbox" id="disabledCheck2" name="is_used" {% if tarif_obj.is_used == True %}checked=""{% endif %}>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                              Close
                            </button>
                            <button type="submit" class="btn btn-primary">Edit Tarif</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </tbody>
                </table>

                {% include "includes/menu/pagination.html" with queryset=tarif_objs custom_range=custom_range %}

              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}