
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock title %}</title>
    {% include "includes/home/styles.html" %}
</head>

<body>
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  {% include "includes/home/navbar.html" %}
  <!-- ***** Header Area End ***** -->
  {% block content %}{% endblock content %}

  {% include "includes/home/footer.html" %}
  <!-- Scripts -->
  {% include "includes/home/scripts.html" %}
</body>
</html>