<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="" />
    {% include "includes/menu/styles.html" %}
    {% block style %}{% endblock style %}
  </head>
  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        {% include "includes/menu/sidebar.html" %}

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          {% include "includes/menu/navbar.html" %}
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            {% block content %}
            
            {% endblock content %}
            <!-- / Content -->

            <!-- Footer -->
            {% include "includes/menu/footer.html" %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    {% include "includes/menu/scripts.html" %}
    {% block script %}{% endblock script %}
  </body>
</html>
