{% extends "laporan_base.html" %}
{% block title %}Laporan Penggunaan Diskon{% endblock title %}
{% block content %}
<div class="container table-container">
    <h2 class="text-center">Laporan Penggunaan Diskon</h2>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="mb-0 mr-3"><strong>Status Diskon :</strong> {% if filter_type != "all" %}{{filter_type}}{% else %}Semua Diskon{% endif %}</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nama Tarif</th>
                <th>Nama Diskon</th>
                <th>Tanggal Kedaluwarsa</th>
                <th>Status</th>
                <th>Diskon Terpakai</th>
                <th>Potongan Harga</th>
            </tr>
        </thead>
        <tbody>
            {% for tarif, diskon_list in tarif_diskon_data.items %}
                {% for diskon in diskon_list %}
                    <tr>
                        {% comment %} {% if forloop.first %} {% endcomment %}
                        {% comment %} <td rowspan="{{ diskon_list|length }}">{{ tarif.subject }}</td> {% endcomment %}
                        {% comment %} {% endif %} {% endcomment %}
                        <td>{{ tarif.subject }}</td>
                        <td>{{ diskon.nama_diskon }}</td>
                        <td>{{ diskon.kedaluwarsa|date:"d F Y" }}</td>
                        <td class="{% if diskon.status == 'Aktif' %}status-active{% else %}status-expired{% endif %}">
                            {{ diskon.status }}
                        </td>
                        <td>{{ diskon.jumlah_terpakai }}</td>
                        <td>Rp. {{ diskon.potongan_harga|floatformat:0 }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr class="total-row">
                <td colspan="4">Total</td>
                <td>{{ total_diskon_terpakai }}</td>
                <td>Rp. {{ total_harga_terpotong|floatformat:0 }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}