{% extends "laporan_base.html" %}
{% block title %}Laporan Total Layanan Pembayaran{% endblock title %}

{% block content %}
<div class="container table-container">
    <h2 class="text-center">Laporan Total Layanan Pembayaran</h2>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="mb-0"><strong>Layanan Pembayaran : </strong>{% if layanan_pembayaran %}{{layanan_pembayaran}}{% else %}Semua Layanan Pembayaran{% endif %}</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Layanan Pembayaran</th>
                <th>Jumlah</th>
            </tr>
        </thead>
        <tbody>
            {% for item in payment_method_counts %}
            <tr>
                {% if item.layanan_pembayaran == 'total' %}
                    <td><strong>{{ item.layanan_pembayaran|capfirst }}</strong></td>
                    <td><strong>{{ item.jumlah }}</strong></td>
                {% else %}
                    <td>{{ item.layanan_pembayaran }}</td>
                    <td>{{ item.jumlah }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
