<!-- templates/laporan_peserta_ujian.html -->
{% extends "laporan_base.html" %}
{% block title %}Laporan Peserta Ujian Per Mata Pelajaran{% endblock title %}

{% block content %}
<div class="container table-container">
    <h2 class="text-center">Laporan Peserta Ujian Per Mata Pelajaran</h2>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="mb-0 mr-3"><strong>Periode Ujian : </strong>{% if dari_tanggal %}{{dari_tanggal|date:"d/m/Y"}}{% else %}Semua Waktu{% endif %} <strong>sd</strong> {% if sampai_tanggal %}{{sampai_tanggal|date:"d/m/Y"}}{% else %}Semua Waktu{% endif %}</p>
        <p class="mb-0 mr-3"><strong>Mata Plajaran :</strong> {% if mapel %}{{mapel}}{% else %}Semua Mata Plajaran{% endif %}</p>
    </div>
    <table >
        <thead >
            <tr>
                <th>No</th>
                <th>Level Study</th>
                <th>Kelas</th>
                <th>Mata Pelajaran</th>
                <th>Jumlah Peserta Ujian</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                {% if item.level_rowspan > 0 %}
                <td rowspan="{{ item.level_rowspan }}" class="align-middle">{{ item.no }}</td>
                <td rowspan="{{ item.level_rowspan }}" class="align-middle">{{ item.level_study }}</td>
                {% endif %}
                {% if item.kelas_rowspan > 0 %}
                <td rowspan="{{ item.kelas_rowspan }}" class="align-middle">{{ item.kelas }}</td>
                {% endif %}
                <td>{{ item.mata_pelajaran }}</td>
                <td class="text-center">{{ item.jumlah_pengikut }}</td>
                
                {% comment %} <td>{{ item.level_study }}</td>
                <td>{{ item.kelas }}</td>
                <td>{{ item.mata_pelajaran }}</td>
                <td class="text-center">{{ item.jumlah_pengikut }}</td> {% endcomment %}

            </tr>
            {% empty %}
            <tr>
                <td colspan="4" >Tidak ada data</td>
            </tr>
            {% endfor %}
            <!-- Baris Total -->
            <tr class=" font-weight-bold">
                <td colspan="4" class="text-end">Total Peserta Ujian</td>
                <td >{{ total_pengikut }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}