{% extends "menu_base.html" %}
{% load static %}
{% block title %}laporan  {% endblock title %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row justify-content-center">
        <div class="card">
            <h5 class="card-header">Laporan Data Pelanggan</h5>
            <div class="card-body">
                <form method="get" class="mb-3">
                    <div class="row mb-3">
                        <div class="col-md-12 mb-2">
                            <label for="cari_pelanggan" class="form-label">Cari Pelanggan:</label>
                            <input 
                                id="cari_pelanggan" 
                                type="text" 
                                name="cari_pelanggan" 
                                value="{{ request.GET.cari_pelanggan }}" 
                                class="form-control text-black" 
                                placeholder="Cari Nama Pelanggan"
                            >
                        </div>
                    </div>
                    <div class="d-flex justify-content-start gap-2">
                        <button type="submit" class="btn btn-primary col-6 col-lg-2">Filter</button>
                        <a href="{% url 'menu:laporan-data-pelanggan' %}" class="btn btn-dark text-white col-6 col-lg-2">Reset</a>
                    </div>
                </form>
                <div class="d-flex flex-column flex-lg-row gap-2 mb-3">
                    <a href="{% url "menu:laporan" %}" class="btn btn-dark col-12 col-lg-2 text-white"><i class="tf-icon bx bx-chevron-left"></i>Back</a>
                    <a href="{% url "menu:data-pelanggan-excel" %}" class="btn btn-primary text-white col-12 col-lg-5">Cetak Excel <i class="bx bxs-report"></i></a>
                    <a href="{% url "menu:data-pelanggan-csv" %}" class="btn btn-dark text-white col-12 col-lg-5">Cetak CSV <i class="bx bxs-report"></i></a>
                </div>
                {% if messages %}
                    {% for message in messages %}
                    <div id="message" class="container" data-duration="4000">
                        <div{% if message.tags %} class="text-center alert alert-{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="table-responsive text-nowrap">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Nama Lengkap</th>
                                <th>Jenis Kelamin</th>
                                <th>Tempat Tinggal</th>
                                <th>Nomor Telepon</th>
                                <th>Tanggal Lahir</th>
                                <th>Role</th>
                                <th>Tanggal Bergabung</th>
                                <th>Last Login</th>
                                <th>Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if profile_objs %}
                                {% for profile in profile_objs %}
                                <tr>
                                    <td>{{ profile.nama_lengkap }}</td>
                                    <td>{{ profile.get_jenis_kelamin_display|default:"Tidak diisi" }}</td>
                                    <td>{{ profile.tempat_tinggal|default:"Tidak diisi" }}</td>
                                    <td>{{ profile.nomor_telepon|default:"Tidak diisi" }}</td>
                                    <td>{{ profile.tanggal_lahir|date:"d M. Y"|default:"Tidak diisi" }}</td>
                                    <td>{{ profile.user.role }}</td>
                                    <td>{{ profile.user.date_joined|date:"d M. Y"|default:"Tidak diisi" }}</td>
                                    <td>{{ profile.user.last_login|date:"d M. Y H:i:s"|default:"Belum pernah login" }}</td>
                                    <td>{{ profile.user.date_joined|date:"d M. Y"|default:"Tidak diisi" }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9" class="text-center">Tidak ada pelanggan ditemukan.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
