{% extends "laporan_base.html" %}
{% block title %}Laporan Nilai{% endblock title %}

{% block content %}
<div class="container table-container">
    <h2 class="text-center">Laporan Nilai</h2>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="mb-0 mr-3"><strong>Status:</strong> {{ status }}</p>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Level Study</th>
                <th>Kelas</th>
                <th>Mata Pelajaran</th>
                <th>Nilai</th>
                <th>Predikat</th>
                <th>Tanggal</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                {% if item.nama_rowspan > 0 %}
                <td rowspan="{{ item.nama_rowspan }}" class="align-middle">{{ item.no }}</td>
                <td rowspan="{{ item.nama_rowspan }}" class="align-middle">{{ item.nama }}</td>
                {% endif %}
                {% if item.level_rowspan > 0 %}
                <td rowspan="{{ item.level_rowspan }}" class="align-middle">{{ item.level_study }}</td>
                {% endif %}
                {% if item.kelas_rowspan > 0 %}
                <td rowspan="{{ item.kelas_rowspan }}" class="align-middle">{{ item.kelas }}</td>
                {% endif %}
                {% if item.mapel_rowspan > 0 %}
                <td rowspan="{{ item.mapel_rowspan }}" class="align-middle">{{ item.mata_pelajaran }}</td>
                {% endif %} 
                {% comment %} <td>{{ item.nama }}</td>
                <td>{{ item.level_study }}</td>
                <td>{{ item.kelas }}</td>
                <td>{{ item.mata_pelajaran }}</td> {% endcomment %}

                <td>{{ item.nilai }}</td>
                <td>{{ item.predikat }}</td>
                <td>{{ item.tanggal }}</td>
                <td>{{ item.status }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9" class="text-center">Tidak ada data</td>
            </tr>
            {% endfor %}
            <!-- Baris Total -->
            <tr class="font-weight-bold">
                <td colspan="7" class="text-end">Total Lulus</td>
                <td class="text-center">{{ total_lulus }}</td>
            </tr>
            <tr class="font-weight-bold">
                <td colspan="7" class="text-end">Total Tidak Lulus</td>
                <td class="text-center">{{ total_tidak_lulus }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}