{% extends "laporan_base.html" %}
{% block title %}Laporan Nilai Ujian{% endblock title %}
{% block content %}
<div class="container table-container">
    <h2 class="text-center">Laporan Nilai Ujian</h2>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="mb-0 mr-3"><strong>Periode Ujian : </strong>{% if dari_tanggal %}{{dari_tanggal|date}}{% else %}Semua Waktu{% endif %} <strong>sd</strong> {% if sampai_tanggal %}{{sampai_tanggal|date}}{% else %}Semua Waktu{% endif %}</p>
        <p class="mb-0"><strong>Status Ujian : </strong>{% if status %}{{status}}{% else %}Semua Ujian{% endif %}</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Kelas</th>
                <th>Nama Level Study</th>
                <th>Nama Mata Pelajaran</th>
                <th>Nilai</th>
                <th>Predikat</th>
                <th>Status</th>
                <th>Tanggal Ujian</th>
            </tr>
        </thead>
        <tbody>
            {% for nilai_obj in nilai_objs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ nilai_obj.user.full_name }}</td>
                <td>{{ nilai_obj.kelas }}</td>
                <td>{{ nilai_obj.level_study }}</td>
                <td>{{ nilai_obj.mata_pelajaran }}</td>
                <td>{{ nilai_obj.nilai }}</td>
                <td>{{ nilai_obj.predikat }}</td>
                <td>{{ nilai_obj.tanggal_ujian }}</td>
                <td>{{ nilai_obj.status }}</td>
            </tr>
            {% endfor %}
            <tr class="total-row">
                <td colspan="7">TOTAL LULUS</td>
                <td>{{ total_lulus }}</td>
            </tr>
            <tr class="total-row">
                <td colspan="7">TOTAL TIDAK LULUS</td>   
                <td>{{ total_tidak_lulus }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
