{% extends "menu_base.html" %}

{% block title %}levelstudy | page{% endblock title %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y ">
    <div class="row justify-content-center">
      <div class="card py-4">
        {% if messages %}
            {% for message in messages %}
            <div id="message" class="container" data-duration="4000">
                <div{% if message.tags %} class="text-center alert alert-{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <i class="fa-sharp fa-solid fa-triangle-exclamation"></i>
                    {% endif %}
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if levelstudy_objs.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in levelstudy_objs.errors.items %}
                        <li>{{ field }}: {{ errors|striptags }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-header">
          <div><h4 class="mb-3">Level Study</h4></div>
          <div>
            <a href="{% url "menu:menu" %}" class="btn btn-dark text-white"><i class="tf-icon bx bx-chevron-left"></i>Back</a>
            <a href="{% url "menu:tambah-levelstudy" %}" class="text-white btn btn-primary">Tambah Level Study</a>
          </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Level Study</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for levelstudy_obj in levelstudy_objs %}
                    <tr>
                      <td>{{levelstudy_obj.level_study}}</td>
                      </td>
                      <td>
                        <a href="{% url "menu:hapus-levelstudy" id_levelstudy=levelstudy_obj.get_id_safe %}" class="btn btn-danger">delete</a>
                        <a href="{% url "menu:edit-levelstudy" id_levelstudy=levelstudy_obj.get_id_safe %}" class="btn btn-primary">Edit Level Study</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                {% include "includes/menu/pagination.html" with queryset=levelstudy_objs custom_range=custom_range %}

              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}